.nav{
    float: right;
}
input{
    display: block;
}
button {
    margin-top: 10px;
}
.welcome_p{
text-align: center;
    color: darkmagenta;
    font-size: 1.5em;
}
.username{
    color: dodgerblue;
    font-size: 1.6em;
}